<template>
<div>

<router-view/>

    </div>
</template>

<script>
export default {
  name: 'App',
  components: {
    
  }
}
</script>

<style>

body{

margin:0px;
height:10px;
padding:0px;
background-color:black;
}
</style>
